:root {
	--tiger-theme-green: #4acaa8;
	--tiger-theme-black: #00000;
}

p.p-tiger {
    line-height: 2;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.logobk {
    max-width: 100%;
    width: 100%;
    height: auto;     /* Maintain aspect ratio */
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
}

.logo {
    max-width: 70%;
    width: 70%;
    height: auto;     /* Maintain aspect ratio */
    object-fit: fill;
    position: relative;
    z-index: 2;
    margin: 0 auto;
}

.image.tigermain {
    display: block;
    height: 10em;
    border-radius: 0;
}

.image.tigermain img {
    border-radius: 0;
}

.tiger-gradient {
    background: linear-gradient(#4acaa8 5%, #000000 95%);
    height: 35em; /* Adjust the height as needed */
    width: 100%;
    border: 0px solid #000;
    display: flex;
    align-items:end; /* Center the content vertically */
    z-index: 2;
}

div[id="div-mascot"] {
    width: 100%; /* Adjust the width as needed */
    height: 100%; /* Make the height 100% of the parent container */
    border: 0px solid grey;
    padding: 0;
    margin: 0 auto; /* Center the container */
    position: relative; /* Ensure the child element can be positioned absolutely */
    display: flex;
    align-items: flex-end; /* Align the image at the bottom */
    justify-content: center; /* Center the image horizontally */
    z-index: 2;
}

#img-mascot {
    all: unset;
    width: 100% !important;
    height: 100% !important;
    display: block !important;
    object-fit: fill !important; 
    margin: 0;
    padding: 0;
}

.container.list-items {
    margin: 0 auto;
    max-width: calc(100% - 4.5em);
    width: 45em;
}

.container.list-items>* {
    display: block;
    width: 100%;
}

ul.tiger-icons {
    list-style: none;
    padding-left: 0;
}

ul.tiger-icons li {
    text-decoration: none;
    display: block;
    margin: 0 0 1.6875em 0;
    padding: 0.35em 0 0 3.5em;
    position: relative;
    width: 75%;
}

ul.tiger-icons li:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    text-transform: none;
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
}

ul.tiger-icons li:before {
    background: #4acaa8;
    border-radius: 100%;
    color: #ffffff;
    display: block;
    height: 2.5em;
    left: 0;
    line-height: 2.5em;
    position: absolute;
    text-align: center;
    top: 0;
    width: 2.5em;
}

#messageText {
    color: darkblue;
}

#feedbackMsg {
    white-space: normal;
    word-wrap: break-word;
}

.feedback {
    content: "\f058";
    font-family: 'Font Awesome 5 Free', sans-serif;
    font-weight: bold;
    font: .9em sans-serif;
    padding-left: 4.5em;
    margin: 0;
    height: 1.5em;
}

.feedback-ok {
    color: darkgreen;
    font-style: normal;
}

.feedback-err {
    color: darkred;
    font-style: italic;
}

.feedback-field-normal {
    background-color: field;
}

.feedback-field-err {
    background-color: lightgoldenrodyellow;
}

